@import "tailwindcss";

@font-face {
  font-family: 'FordAntenna';
  src: url('/src/assets/fonts/FordAntenna.otf') format('truetype');
}

.ford-font {
  font-family: 'FordAntenna';
}

body {
  overflow-x: hidden;
}